<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <title>koala | 关于我</title>
</head>

<body id="home">


<div class="ui inverted masthead centered segment">
    <div class="ui page grid">
        <div class="column">
            <!-- Nav bar-->
            <nav th:replace="_fragments :: menu(5)" ></nav>
            <!-- Content -->
            <div class="eleven wide column">
                <img src="../static/images/aboutMe.png" th:src="@{/images/aboutMe.png}" class="ui rounded image">
            </div>
            <!--Right content-->
            <div class="five wide column">
                <div class="ui top attached segment">
                    <div class="ui header olive">关于我</div>
                </div>
                <div class="ui attached segment">热爱编程的不正经的化工专业研究生~，正在学习ing...</div>
                <div class="ui attached segment">
                    <div class="ui orange basic left pointing label m-margin-tb-small">编程</div>
                    <div class="ui orange basic left pointing label m-margin-tb-small">运动</div>
                    <div class="ui orange basic left pointing label m-margin-tb-small">吉他</div>
                    <div class="ui orange basic left pointing label m-margin-tb-small">音乐</div>
                </div>
                <div class="ui attached segment">
                    <div class="ui olive basic left pointing label m-margin-tb-small">Java</div>
                    <div class="ui olive basic left pointing label m-margin-tb-small">JavaScript</div>
                    <div class="ui olive basic left pointing label m-margin-tb-small">Python</div>
                    <div class="ui olive basic left pointing label m-margin-tb-small">SpringBoot</div>
                    <div class="ui olive basic left pointing label m-margin-tb-small">Mybatis</div>
                    <div class="ui olive basic left pointing label m-margin-tb-small">redis</div>
                    <div class="ui olive basic left pointing label m-margin-tb-small">...</div>


                </div>
                <div class="ui bottom attached segment">
                    <a href="#" class="ui circular icon button" data-position="bottom center"><i class="github icon"></i></a>
                    <a href="#" class="ui wechat circular icon button"  data-position="bottom center"><i class="weixin icon"></i></a>
                    <a href="#" class="ui qq circular icon button" data-content="1481936030" data-position="bottom center"><i class="qq icon"></i></a>
                </div>
                <div class="ui wechat-qr flowing popup transition hidden">
                    <img src="../static/images/wechat.jpg" th:src="@{/images/wechat.jpg}"  alt=""  class="ui rounded image" style="width: 100px"/>
                </div>
            </div>



        </div>
    </div>
</div>

<!-- Footer -->
<footer th:replace="_fragments :: footer"></footer>

<!-- JavaScript -->
<th:block th:replace="_fragments :: script"></th:block>

<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.wechat').popup({
        popup: $('.wechat-qr'),
        position: 'bottom center'
    });

    $('.qq').popup();

</script>

</body>
</html>
